<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="AppContext" connectionString="Data Source=204.174.60.182;Initial Catalog=GainTest;Persist Security Info=True;User ID=sa;Password=Coral3dAir" providerName="System.Data.SqlClient" />-->
    <add name="AppContext" connectionString="Data Source=localhost;Initial Catalog=GAINRM;Persist Security Info=True;User ID=sa;Password=D4b2f6t" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages enableViewState="false" />
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="~/Pages/Login.aspx" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <roleManager enabled="true" defaultProvider="SqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" applicationName="CubeReportServer" connectionStringName="AppContext" />
      </providers>
    </roleManager>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="120">
      <providers>
        <clear />
        <add name="SqlProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="AppContext"
             applicationName="CubeReportServer"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="true"
             requiresUniqueEmail="true"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="8"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             />
        <add name="AdminMembershipProvider"
            type="System.Web.Security.SqlMembershipProvider"
            connectionStringName="AppContext"
            enablePasswordRetrieval="false"
            enablePasswordReset="true"
            requiresQuestionAndAnswer="false"
            applicationName="CubeReportServer"
            requiresUniqueEmail="true"
            passwordFormat="Hashed"
            maxInvalidPasswordAttempts="5"
            minRequiredPasswordLength="8"
            minRequiredNonalphanumericCharacters="0"
            passwordAttemptWindow="10"
            />
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>